In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 68 bytes

In [3]:

!kaggle datasets download -d ebiswas/imdb-review-dataset

Downloading imdb-review-dataset.zip to /content
 99% 2.68G/2.69G [00:18<00:00, 111MB/s]
100% 2.69G/2.69G [00:18<00:00, 153MB/s]

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
!unzip imdb-review-dataset.zip

Archive:  imdb-review-dataset.zip
  inflating: part-01.json
  inflating: part-02.json
  inflating: part-03.json
  inflating: part-04.json
  inflating: part-05.json
  inflating: part-06.json
  inflating: sample.json

In [6]:
!git clone https://github.com/vinay20045/json-to-csv

Cloning into 'json-to-csv'...
remote: Enumerating objects: 67, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 67 (delta 2), reused 0 (delta 0), pack-reused 56
Unpacking objects: 100% (67/67), done.

In [7]:
import pandas as pd
import numpy as np
import glob, os

In [8]:
def clean_helpful_values(df):
  df = df.copy()
  a = df[df['helpful'].str[0].str.contains('[,"]')]
  print("Wrong elements with errors to remove in column 0:",len(a))
  b = df[df['helpful'].str[1].str.contains('[,"]')]
  print("Wrong elements with errors to remove in column 1:",len(b))

  a = df['helpful'].str[0].str.replace('[,"]','')
  b = df['helpful'].str[1].str.replace('[,"]','')
  df['helpful'] = pd.Series(list(np.column_stack((a.to_numpy(), b.to_numpy()))))


  a = df[df['helpful'].str[0].str.contains('[,"]')]
  print("Wrong elements with errors to remove in column 0:",len(a))
  b = df[df['helpful'].str[1].str.contains('[,"]')]
  print("Wrong elements with errors to remove in column 1:",len(b))

  return df

def remove_useless_columns(df):
  return df.copy().drop(columns=['reviewer','rating','review_summary'])


def change_date_format(df):
  df = df.copy()
  df['review_date'] = pd.to_datetime(df["review_date"]).dt.strftime('%Y-%m-%d')
  return df

In [9]:

os.chdir("/content")
names = glob.glob("*.json")

!rm -r -f /content/cleaned_files/


!mkdir /content/cleaned_files
!mkdir /content/cleaned_files/cleaned_json
!mkdir /content/cleaned_files/cleaned_csv

In [10]:
for name in names:
  df = pd.read_json("/content/"+name)
  df = remove_useless_columns(df)
  df = change_date_format(df)
  df = clean_helpful_values(df)

  jsonPath ='/content/cleaned_files/cleaned_json/'+name
  df.to_json(jsonPath,orient='records')

  csvPath = '/content/cleaned_files/cleaned_csv/'+name.replace('.json','')+'.csv'
  !python /content/json-to-csv/json_to_csv.py "" $jsonPath $csvPath

Wrong elements with errors to remove in column 0: 13
Wrong elements with errors to remove in column 1: 34

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  if __name__ == '__main__':

Wrong elements with errors to remove in column 0: 0
Wrong elements with errors to remove in column 1: 0
Just completed writing csv file with 7 columns
Wrong elements with errors to remove in column 0: 142
Wrong elements with errors to remove in column 1: 400
Wrong elements with errors to remove in column 0: 0
Wrong elements with errors to remove in column 1: 0
tcmalloc: large alloc 1262272512 bytes == 0x55974bfa6000 @  0x7f531da791e7 0x55974a52e338 0x55974a4f8ad7 0x55974a677575 0x55974a6118b8 0x55974a4fc3a2 0x55974a5dac6e 0x55974a611832 0x55974a4fc3a2 0x55974a4ff5f6 0x55974a67ac03 0x55974a4fbff9 0x55974a5edd4d 0x55974a56fec8 0x55974a56aa2e 0x55974a56a723 0x55974a634812 0x55974a634b8d 0x55974a634a36 0x55974a60c183 0x55974a60be2c 0x7f531c863c87 0x55974a60bd0a
tcmalloc: large alloc 1262272512 bytes == 0x559797372000 @  0x7f531da791e7 0x55974a52e338 0x55974a54366c 0x55974a5d0e13 0x55974a4fbff9 0x55974a4fbef0 0x55974a570123 0x55974a4fd7aa 0x55974a56bb4f 0x55974a56aa2e 0x55974a4fdf21 0x55974a4fd3d0 0x55974a4ff358 0x55974a5dc441 0x55974a67ac31 0x55974a4fbff9 0x55974a5edd4d 0x55974a56fec8 0x55974a56aa2e 0x55974a56a723 0x55974a634812 0x55974a634b8d 0x55974a634a36 0x55974a60c183 0x55974a60be2c 0x7f531c863c87 0x55974a60bd0a
Just completed writing csv file with 7 columns
Wrong elements with errors to remove in column 0: 10
Wrong elements with errors to remove in column 1: 27
Wrong elements with errors to remove in column 0: 0
Wrong elements with errors to remove in column 1: 0
Just completed writing csv file with 7 columns
Wrong elements with errors to remove in column 0: 114
Wrong elements with errors to remove in column 1: 305
Wrong elements with errors to remove in column 0: 0
Wrong elements with errors to remove in column 1: 0
tcmalloc: large alloc 1168007168 bytes == 0x55577302a000 @  0x7f52ac9301e7 0x55577158d338 0x555771557ad7 0x5557716d6575 0x5557716708b8 0x55577155b3a2 0x555771639c6e 0x555771670832 0x55577155b3a2 0x55577155e5f6 0x5557716d9c03 0x55577155aff9 0x55577164cd4d 0x5557715ceec8 0x5557715c9a2e 0x5557715c9723 0x555771693812 0x555771693b8d 0x555771693a36 0x55577166b183 0x55577166ae2c 0x7f52ab71ac87 0x55577166ad0a
Just completed writing csv file with 7 columns
Wrong elements with errors to remove in column 0: 74
Wrong elements with errors to remove in column 1: 317
Wrong elements with errors to remove in column 0: 0
Wrong elements with errors to remove in column 1: 0
tcmalloc: large alloc 1656258560 bytes == 0x565158a64000 @  0x7fa854b381e7 0x565156d22338 0x565156cecad7 0x565156e6b575 0x565156e058b8 0x565156cf03a2 0x565156dcec6e 0x565156e05832 0x565156cf03a2 0x565156cf35f6 0x565156e6ec03 0x565156cefff9 0x565156de1d4d 0x565156d63ec8 0x565156d5ea2e 0x565156d5e723 0x565156e28812 0x565156e28b8d 0x565156e28a36 0x565156e00183 0x565156dffe2c 0x7fa853922c87 0x565156dffd0a
tcmalloc: large alloc 1656258560 bytes == 0x5651bb5ec000 @  0x7fa854b381e7 0x565156d22338 0x565156d3766c 0x565156dc4e13 0x565156cefff9 0x565156cefef0 0x565156d64123 0x565156cf17aa 0x565156d5fb4f 0x565156d5ea2e 0x565156cf1f21 0x565156cf13d0 0x565156cf3358 0x565156dd0441 0x565156e6ec31 0x565156cefff9 0x565156de1d4d 0x565156d63ec8 0x565156d5ea2e 0x565156d5e723 0x565156e28812 0x565156e28b8d 0x565156e28a36 0x565156e00183 0x565156dffe2c 0x7fa853922c87 0x565156dffd0a
Just completed writing csv file with 7 columns
Wrong elements with errors to remove in column 0: 185
Wrong elements with errors to remove in column 1: 418
Wrong elements with errors to remove in column 0: 0
Wrong elements with errors to remove in column 1: 0
tcmalloc: large alloc 1319682048 bytes == 0x565318d42000 @  0x7f7c997511e7 0x565317073338 0x56531703dad7 0x5653171bc575 0x5653171568b8 0x5653170413a2 0x56531711fc6e 0x565317156832 0x5653170413a2 0x5653170445f6 0x5653171bfc03 0x565317040ff9 0x565317132d4d 0x5653170b4ec8 0x5653170afa2e 0x5653170af723 0x565317179812 0x565317179b8d 0x565317179a36 0x565317151183 0x565317150e2c 0x7f7c9853bc87 0x565317150d0a
tcmalloc: large alloc 1319682048 bytes == 0x5653677ce000 @  0x7f7c997511e7 0x565317073338 0x56531708866c 0x565317115e13 0x565317040ff9 0x565317040ef0 0x5653170b5123 0x5653170427aa 0x5653170b0b4f 0x5653170afa2e 0x565317042f21 0x5653170423d0 0x565317044358 0x565317121441 0x5653171bfc31 0x565317040ff9 0x565317132d4d 0x5653170b4ec8 0x5653170afa2e 0x5653170af723 0x565317179812 0x565317179b8d 0x565317179a36 0x565317151183 0x565317150e2c 0x7f7c9853bc87 0x565317150d0a
Just completed writing csv file with 7 columns
Wrong elements with errors to remove in column 0: 100
Wrong elements with errors to remove in column 1: 244
Wrong elements with errors to remove in column 0: 0
Wrong elements with errors to remove in column 1: 0
Just completed writing csv file with 7 columns

In [11]:
!zip -r '/content/cleaned_files/cleaned_csv/cleaned_csv.zip' '/content/cleaned_files/cleaned_csv/'

  adding: content/cleaned_files/cleaned_csv/ (stored 0%)
  adding: content/cleaned_files/cleaned_csv/cleaned_part-02.csv (deflated 60%)
  adding: content/cleaned_files/cleaned_csv/cleaned_part-04.csv (deflated 61%)
  adding: content/cleaned_files/cleaned_csv/cleaned_part-01.csv (deflated 61%)
  adding: content/cleaned_files/cleaned_csv/cleaned_sample.csv (deflated 60%)
  adding: content/cleaned_files/cleaned_csv/cleaned_part-05.csv (deflated 60%)
  adding: content/cleaned_files/cleaned_csv/cleaned_part-03.csv (deflated 61%)
  adding: content/cleaned_files/cleaned_csv/cleaned_part-06.csv (deflated 63%)

In [14]:
ls -l cleaned_files/cleaned_csv/ --block-size=MB

total 9339MB
-rw-r--r-- 1 root root 2639MB Apr 11 14:54 cleaned_csv.zip
-rw-r--r-- 1 root root  905MB Apr 11 14:43 cleaned_part-01.csv
-rw-r--r-- 1 root root 1090MB Apr 11 14:35 cleaned_part-02.csv
-rw-r--r-- 1 root root 1241MB Apr 11 14:41 cleaned_part-03.csv
-rw-r--r-- 1 root root 1183MB Apr 11 14:33 cleaned_part-04.csv
-rw-r--r-- 1 root root 1577MB Apr 11 14:38 cleaned_part-05.csv
-rw-r--r-- 1 root root  562MB Apr 11 14:31 cleaned_part-06.csv
-rw-r--r-- 1 root root  146MB Apr 11 14:33 cleaned_sample.csv

In [18]:


df = pd.read_csv('/content/cleaned_files/cleaned_csv/cleaned_part-03.csv')
df

,_helpful_0,_helpful_1,_movie,_review_date,_review_detail,_review_id,_spoiler_tag
0,1,3,Dead Man on Campus (1998),2001-12-13,"I didn't even see this movie in the theatres, ...",rw0400504,0
1,2,2,Dead Man on Campus (1998),1999-01-22,It's definitely not worth the money it cost to...,rw0400505,0
2,1,3,Dead Man on Campus (1998),2002-01-09,First of all can I say AT LEAST GET THE PLOT O...,rw0400506,0
3,1,3,Dead Man on Campus (1998),2002-05-01,My friend was ALWAYS telling me about this mov...,rw0400508,0
4,2,3,Dead Man on Campus (1998),1999-01-31,The laughter never stops. This is because the ...,rw0400509,0
...,...,...,...,...,...,...,...
1014995,0,0,The Insider (1999),1999-12-26,"This is an absolute magnificent movie, in fact...",rw0528641,0
1014996,0,0,The Insider (1999),2000-01-07,There are times that The Insider will leave yo...,rw0528642,0
1014997,0,0,The Insider (1999),2000-01-11,The sense of scandal and coverup is in the air...,rw0528643,0
1014998,0,0,The Insider (1999),1999-11-07,"""The Insider"" is the latest from ""Vegas"" and ""...",rw0528644,0
1014999,0,0,The Insider (1999),2000-01-12,"After Heat, I was a little worried that Mann w...",rw0528645,0

In [22]:
df = pd.read_json('/content/cleaned_files/cleaned_json/cleaned_part-03.json')
df

,review_id,movie,review_date,spoiler_tag,review_detail,helpful
0,rw0400504,Dead Man on Campus (1998),2001-12-13,0,"I didn't even see this movie in the theatres, ...","[1, 3]"
1,rw0400505,Dead Man on Campus (1998),1999-01-22,0,It's definitely not worth the money it cost to...,"[2, 2]"
2,rw0400506,Dead Man on Campus (1998),2002-01-09,0,First of all can I say AT LEAST GET THE PLOT O...,"[1, 3]"
3,rw0400508,Dead Man on Campus (1998),2002-05-01,0,My friend was ALWAYS telling me about this mov...,"[1, 3]"
4,rw0400509,Dead Man on Campus (1998),1999-01-31,0,The laughter never stops. This is because the ...,"[2, 3]"
...,...,...,...,...,...,...
1014995,rw0528641,The Insider (1999),1999-12-26,0,"This is an absolute magnificent movie, in fact...","[0, 0]"
1014996,rw0528642,The Insider (1999),2000-01-07,0,There are times that The Insider will leave yo...,"[0, 0]"
1014997,rw0528643,The Insider (1999),2000-01-11,0,The sense of scandal and coverup is in the air...,"[0, 0]"
1014998,rw0528644,The Insider (1999),1999-11-07,0,"""The Insider"" is the latest from ""Vegas"" and ""...","[0, 0]"
1014999,rw0528645,The Insider (1999),2000-01-12,0,"After Heat, I was a little worried that Mann w...","[0, 0]"

In [21]:
cp /content/cleaned_files/cleaned_csv/cleaned_csv.zip /content/drive/MyDrive/cleaned_imdb_csv.zip